$font-roboto: 'Roboto', sans-serif;
$font-raleway: 'Raleway', sans-serif;

$bttn-backcolor: rgb(0, 120, 242);
$ftter-backcolor: #2e333b;
$team-item-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
$portfol-cardbox-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
$divdown-portfol-border: 1px solid #EEEEEE;
$web-site-logo: #2196F3;
$overlay-background: rgba(33, 150, 243, 0.9);
$logo-black: rgba(0, 0, 0, 1);
$pages-color: black;
$offer-color: gray;
$white-color: rgba(255, 255, 255, 1);
$section-team-back: rgba(245, 244, 250, 1);
$bbtn-portfol: rgb(245, 244, 250);
$main-section-back: #212121;
$site-logo-black: rgb(26, 26, 26);
$link: #2e8ddb;
$backcolor-white: #F5F4FA;
$about-company: rgb(100, 100, 100);
$portfolio-buttons-color: #212121;
$button-item-color: #FFFFFF;
$other-color: rgba(255, 255, 255, 0.6);
$header-border: rgba(236, 236, 236, 1);
$header-comunication: rgba(117, 117, 117, 1);
$employers-name: #212121;
$nav-link: rgba(33, 33, 33, 1);
$portfolio-shadows: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
$svg-fill-gray: rgba(175, 177, 184, 1);
$svg-fill-blue: rgba(33, 150, 243, 1);
$activities-back: rgba(47, 48, 58, 0.8);
$anim-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);